  <!-- Header-->
  <header class="py-5">
      <div class="container px-lg-5">
          <div class="p-4 p-lg-5 bg-light rounded-3 text-center">
              <div class="m-4 m-lg-5">
                  <h1 class="display-5 fw-bold">Why Fit'n Food?</h1>
                  <p class="fs-4">Fit'n Food is a free, open source application to track your fitness and diet experiences on your journey to a healthier lifestyle!</p>
                  <a class="btn btn-primary btn-lg" [routerLink]="['/signup']" routerLinkActive="router-link-active" >Sign Up for FREE!</a>
              </div>
          </div>
      </div>
  </header>
  <!-- Page Content-->
  <section class="pt-4">
      <div class="container px-lg-5">
          <!-- Page Features-->
          <div class="row gx-lg-5">
              <div class="col-lg-6 col-xxl-4 mb-5">
                  <div class="card bg-light border-0 h-100">
                      <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                          <div class="feature bg-primary bg-gradient text-white rounded-3 mb-4 mt-n4"><i class="bi bi-collection"></i></div>
                          <h2 class="fs-4 fw-bold">Workouts</h2>
                          <p class="mb-0">Track workouts, including sets, reps, and calories burned during your workout.</p>
                      </div>
                  </div>
              </div>
              <div class="col-lg-6 col-xxl-4 mb-5">
                  <div class="card bg-light border-0 h-100">
                      <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                          <div class="feature bg-primary bg-gradient text-white rounded-3 mb-4 mt-n4"><i class="bi bi-cloud-download"></i></div>
                          <h2 class="fs-4 fw-bold">Food</h2>
                          <p class="mb-0">Track the food you eat, including calorie and macros, each day.</p>
                      </div>
                  </div>
              </div>
              <div class="col-lg-6 col-xxl-4 mb-5">
                  <div class="card bg-light border-0 h-100">
                      <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                          <div class="feature bg-primary bg-gradient text-white rounded-3 mb-4 mt-n4"><i class="bi bi-card-heading"></i></div>
                          <h2 class="fs-4 fw-bold">Water</h2>
                          <p class="mb-0">It's important to stay hydrated! Keep track of the water you drink throughout the day.</p>
                      </div>
                  </div>
              </div>
              <div class="col-lg-6 col-xxl-4 mb-5">
                  <div class="card bg-light border-0 h-100">
                      <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                          <div class="feature bg-primary bg-gradient text-white rounded-3 mb-4 mt-n4"><i class="bi bi-bootstrap"></i></div>
                          <h2 class="fs-4 fw-bold">Profile</h2>
                          <p class="mb-0">Customize your bio and goals to keep motivated when it gets hard.</p>
                      </div>
                  </div>
              </div>
              <div class="col-lg-6 col-xxl-4 mb-5">
                  <div class="card bg-light border-0 h-100">
                      <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                          <div class="feature bg-primary bg-gradient text-white rounded-3 mb-4 mt-n4"><i class="bi bi-code"></i></div>
                          <h2 class="fs-4 fw-bold">Active Development</h2>
                          <p class="mb-0">Frequent updates are guaranteed to keep the app feature-rich and stable.</p>
                      </div>
                  </div>
              </div>
              <div class="col-lg-6 col-xxl-4 mb-5">
                  <div class="card bg-light border-0 h-100">
                      <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                          <div class="feature bg-primary bg-gradient text-white rounded-3 mb-4 mt-n4"><i class="bi bi-patch-check"></i></div>
                          <h2 class="fs-4 fw-bold">Free</h2>
                          <p class="mb-0">You will NEVER be charged to use this application, and your personal information will NEVER be sold to third parties.</p>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </section>
  <!-- Footer-->
  <footer class="py-5 bg-dark">
      <div class="container"><p class="m-0 text-center text-white">Copyright &copy; Fit'n Food 2024</p></div>
  </footer>
