<nav class="navbar bg-dark" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Fit'n Food</a>
    <button class="btn btn-primary">Log In/Sign Up</button>
  </div>
</nav>

<div class="container-fluid">
  <div class="row mt-5">
    <div class="col-md-4">
      <app-workout></app-workout>
    </div>
    <div class="col-md-4">
      <app-food></app-food>
    </div>
    <div class="col-md-3">
      <div class="row">
        <div class="col-md-12">
          <app-water></app-water>
        </div>
        <div class="col-md-12 mt-3">
          <app-profile></app-profile>
        </div>
      </div>
    </div>
  </div>
</div>
